{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MARCA AÍ!</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<div class="container">
  <div class="football-info">
    <img class="logo" src="{% static 'assets/img/Marca Aí! Logo.svg' %}" alt="Marca Aí! Logo">
    
    <!-- Div do mapa, com a altura definida para 800px -->
    <div id="map" style="height: 800px; width: 100%;"></div>

    <!-- Link para a página de partidas marcadas -->
    <a href="{% url 'partidas' %}" class="voltar-btn">Ver Partidas Marcadas</a>
  </div>
</div>

<!-- Adicionando o Leaflet.js ao final do body -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'js/home.js' %}"></script>
<script type="text/javascript">
  const listarPontosUrl = "{% url 'listar_pontos' %}";
</script>
<script src="{% static 'assets/js/home.js' %}"></script>

</body>
</html>
